body{
  background-color: #ffff00;
  background-image: url(images/bg_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  width:80%;
  margin: auto;
  background-color: #00AACC;
  background-image: url(images/smolpod.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  /*Special trick to make the container as big as the screen*/
  position: fixed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
header{
  background-color: grey;
  border-radius: 10px;
  padding: 10px;
}
section{
  margin: 0px;
  border-radius: 10px;
  border: 2px black double;
}
.clearfix:after{
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
