/*Author: Victoria Braden
Date: 10.30.2017
file: styles.css
*/

html, body, h1, img, p, ul, header, .container{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: gray ;
}
.container{
	background-color: white;
	margin: auto;
	position: fixed;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
header{
	background-color: lightblue;
	text-align: center;
}
h1{
	padding: 1em;
	height: 3em;
}
.contacts{
	font-weight: bold;
	font-size: 1.2em;
	color: blue;
	margin-top: 1em;
}

ul{
	list-style-type: none;
}